.todoList {
    background-color: rgba(255, 255, 255, 0.13);
    padding: 50px 35px;
    border-radius: 10px;
    color: #fff;
    z-index: 2;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(48, 42, 42, 0.37);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.todoList-header {
    font-size: 30px;
}
.todoList-mainAdd{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
}
.todo-input {
    margin: 20px 0;
}

.todoList-add {
    background-color: rgba(255, 255, 255, 0.07);
    padding: 10px;
    border-radius: 10px;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.todoList-userList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.07);
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.todoList-div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.todoList-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 5px;
    border-radius: 10px;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.todoList-isComplete{
    opacity: 0.5;
    text-decoration: solid line-through;
}